
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
html{
    scroll-behavior: smooth;
    
}
body{
    background-color: #00012b;
    font-family: "Montserrat";
    color: whitesmoke;
}

/*{
    box-sizing: border-box;
}*/

.my-nav{
    background-color: black;
    width: 100%;
    padding: 20px;
    height: 80px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: white;
    font-family: "Montserrat";
    position: fixed;
    top:0;
}

.my-nav ul{
    margin-right: 20px;
    float: right;
}

.main-link{
    font-size: 25px;
    font-weight: bold;
}

.my-nav ul li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding-top: 10px;
   
}

.my-nav ul li a{
    color: white;
    margin: 5px;
    
}

.jumbotron{
   margin-top: 80px;
   background: #98B9F2;
   background-image: url("../images/hero-bg1.jpg");
   height: 100vh;
   background-size: cover;
   background-position: center;
   border-radius: 0%;
   color: whitesmoke;
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    background-attachment: fixed;
}

#nav-second{
    width: fit-content;
    margin: 50px;
}

.display-4{
    text-align: center;
    font-weight: 600;
}

#checkbox_toggle{
    display: none;
}

.hamburger{
    display: none;
    user-select: none;
    font-size: 24px;
}
.hamburger:hover{
    transform: rotate(90deg) ;
    transition: 0.5s;
}

/*for navbar toggling*/
@media (max-width: 750px){
    .menu{
        display: none;
        background-color: black;
        position: absolute;
        right: 0;
        left: 0;
        padding: 10px;
    }
    .hamburger{
        display: inline-block;
        transition: 0.5s;
    }

    #checkbox_toggle:checked~ .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

#second{
    display: flex;
    flex-direction: row;
}

.my-card{
    background:none;
}

.my-card, .my-card2{
    height: 500px;
    width: 600px;
    border-radius: 12px;
    margin-top: 200px;
    padding: 20px;
    border: solid 1.5px whitesmoke;
    box-shadow: 12px 12px 0 rgba(245, 245, 245, 0.87);
}

.my-card2{
    margin-top: 0;
}
.my-card p, .my-card2 p{
    font-size: larger;
    margin: 10px;
}

.my-icon{
    height: 45px;
    width: 50px;
    margin-right: 10px;
}

#btn-create{
    margin-top: 40px;
    margin-left: 50px;
}

#third{
    height: 900px;
    background-image: url('../images/bitcoin-edit.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    background-attachment: fixed;
    padding: 80px;
    justify-content: space-around;
    align-items: center;
}

#third img{
    margin: 20px;
}

#nav-third{
    margin-top: 40px;
    margin-left: 130px;
    padding-right: 50px;
   padding-left: 50px;
}

.my-card2{
    background: #00012b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.my-card2 a{
    width: 250px;
   
}

#fourth{
    height: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    top:0
}

.footer{
    height: 300px;
    background-color: black;
    box-shadow: 0 -3px 10px #0BC5EA;
    color: #718096;
    padding: 70px;
    margin-top: 150px;
}


::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
background: black; 
}
::-webkit-scrollbar-thumb {
background: #2D3748; 
border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
background: #555; 
}